@charset "UTF-8";

@use 'setting' as s;
@use 'common';

.p-work-detail__back {
    font-family: "Noto Sans JP";
    font-size: s.$font-size-md;
    margin-top: s.$space-md;
}

.p-work-detail__mv {
    margin-bottom: s.$space-lg;
}

.p-work-detail__mv--banner {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: s.$space-lg;
}

.p-work-detail__mv--banner img {
    width: 100%;
    height: auto;
    display: block;
}

.p-work-detail__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 120px;
}

.p-work-detail__title {
    font-size: s.$font-size-xl;
    font-family: "Noto Sans JP";
    margin-bottom: s.$space-sm;
    color: s.$color-heading;
    letter-spacing: 0.1em;
}

.p-work-detail__subtitle {
    font-family: "Noto Sans JP";
    color: s.$color-heading;
}

.p-work-detail__content {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
}

.c-heading{
    font-weight: bold;
}

.p-work-detail__list dt {
    margin-top: s.$space-md;
}

.p-work-detail__list dd {
    margin-bottom: s.$space-md;
}

.p-work-detail__list a:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.p-work-detail__list a::after {
    content: "↗";
    margin-left: 4px;
}

.p-work-detail__list--link {
    margin-top: s.$space-lg;
}

.p-work-detail__list--link a {
    color: s.$color-accent;
}

.p-work-detail__pager {
    margin: 120px 0;
    padding: 20px 0;
    position: relative;
}

.p-work-detail__number{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.p-work-detail__next {
    position: absolute;
    left: 0;
}

.p-work-detail__prev {
    position: absolute;
    right: 0;
}

.p-work-detail__prev,
.p-work-detail__next,
.p-work-detail__number {
    font-family: "Noto Sans JP";
    color: s.$color-heading;
    font-size: s.$font-size-lg;
}

.p-work-detail__prev:hover,
.p-work-detail__next:hover,
.p-work-detail__number:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

@include s.mq(sm) {
    .p-work-detail__back {
        font-family: "Noto Sans JP";
        font-size: s.$font-size-sm;
        margin-top: s.$space-md;
    }

    .p-work-detail__mv {
        margin: s.$space-md 0;
    }

    .p-work-detail__title {
        font-size: s.$font-size-lg;
        font-weight: bold;
    }

    .p-work-detail__category {
        font-size: s.$font-size-sm;
    }

    .p-work-detail__header {
        margin-bottom: s.$space-lg-sp;
    }

    .p-work-detail__mv--banner {
        max-width: 320px;
        margin: 0 auto;
        padding: s.$space-md 0;
    }

    .p-work-detail__content {
        padding: 0 s.$space-md;
    }

    .p-work-detail__item {
        font-size: s.$font-size-md;
    }

    .p-work-detail__pager {
        margin: 60px 30px;
    }

    .p-work-detail__prev,
    .p-work-detail__next,
    .p-work-detail__number {
        font-size: s.$font-size-sm;
    }
}